.credit {
    color: white;
    text-align: center;
    padding: 10px;
}

.credit a {
    color: #ffffff;
}

.credit .MuiSvgIcon-root {
    color: red;
    line-height: 2;
    font-size: 1.1rem !important;
}
